* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

h3 {

    text-align: center;
    margin: 0px;
    margin-right: 0px;
    padding: 0x;
    position: relative;
    float: right;
    width: 33%;
    border: 1px solid black;
}
.h31 {
    background: rgb(245, 79, 79);
  }

.h32 {
    background: rgb(127, 218, 142);
  }

.h33 {
    background: rgb(243, 168, 49);
  }


p {
    padding-top: 10px;
    clear: both;
}

.c1,
.c2,
.c3 {

    float: left;
    margin: 10px;
    padding: 12px;
    padding-top: 0px;
    padding-right: 0px;
    position: relative;
    border: 1px solid black;
}

.c1 {
    background-color: beige;
}

.c2 {
    background-color: royalblue;
}

.c3 {
    background-color: rosybrown;
}

@media (min-width: 992px) {

    .section1,
    .section2,
    .section3 {
        float: left;
        width: 33.3%;
    }

}

@media (min-width: 768px) and (max-width:991px) {

    .section1,
    .section2 {
        float: left;
        width: 50%;
    }

    .section3 {
        float: left;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .section1,
    .section2,
    .section3 {
        float: left;
        width: 100%;
    }

}